@charset "utf-8";
/* CSS Document */


*{
	font-family: 'Open Sans', sans-serif;
	box-sizing:border-box;
	color:#565656;
	}
body{
	margin:0 auto;
	border:0;
	width:100%;
	overflow-x:hidden;
}
a {
	text-decoration:none;
	cursor:pointer;}
a:hover{
	cursor:pointer;}
.clear{
	clear:both;}
.hover-a:hover{
	opacity:0.8;
	cursor:pointer;
	transition:.15s ease-in-out;
}
.hover1b{
	display:none;}
.hover1:hover .hover1b{
	display:inline-block;}
	.hover1:hover .hover1a{
	display:none;}
.white-text{
	color:white;}
.blue-text{
	color:#2b2b88;
		}
.blue-bg{
	background-color:#2b2b88;
}
.white-bg{
	background-color:white;}
.light-grey {
    color: #888888;}
.width100{
	width:100%;}
.overflow{
	overflow:hidden;}
.float-left{
	float:left;}
.float-right{
	float:right;}		
.text-center{
	text-align:center;}	
.div-center{
	margin-left:auto;
	margin-right:auto;}
.margin-auto{
	margin-left:auto;
	margin-right:auto;}
.clean:focus{	
	outline: none !important;
	outline-offset: 0  !important;
}
.clean:selected{
	outline: none !important;
	outline-offset: 0  !important;
}
.clean:active{
	outline: none !important;
	outline-offset: 0  !important;
}
.clean::selection {	
	outline: none !important;
	outline-offset: 0  !important;
}
.clean2{
	-webkit-box-shadow:none !important;
	box-shadow:none !important;		
}
.clean2:selected{
	outline: none !important;
	outline-offset: 0  !important;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;	
}
.clean2:focus{
	outline: none !important;
	outline-offset: 0  !important;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;	
}
.clean2:active{
	outline: none !important;
	outline-offset: 0  !important;	
	-webkit-box-shadow:none !important;
	box-shadow:none !important;
}
.clean2::selection {	
	outline: none !important;
	outline-offset: 0  !important;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;
}
.pointer:hover{
	cursor:pointer;}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #fafeff inset !important;
}
.text-overflow{
    text-overflow: ellipsis;
    white-space: nowrap;
	overflow:hidden;
}
.height100{
	height:100%;}
.same-padding{
	padding-left:7.5%;
	padding-right:7.5%;}
.clean-button{
	border:0;}

/*Start */
.footer-div{
	overflow:hidden;}
.blue-bg{
	background-color:#3268ff;}
.footer-p {
    font-size: 14px;
	    padding-top: 2px;
    padding-bottom: 2px;
    margin: 0;
}
.first-left-div{
	background: rgba(0,28,130,1);
	background: -moz-linear-gradient(left, rgba(0,28,130,1) 0%, rgba(0,28,130,1) 80%, rgba(9,9,76,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,28,130,1)), color-stop(80%, rgba(0,28,130,1)), color-stop(100%, rgba(9,9,76,1)));
	background: -webkit-linear-gradient(left, rgba(0,28,130,1) 0%, rgba(0,28,130,1) 80%, rgba(9,9,76,1) 100%);
	background: -o-linear-gradient(left, rgba(0,28,130,1) 0%, rgba(0,28,130,1) 80%, rgba(9,9,76,1) 100%);
	background: -ms-linear-gradient(left, rgba(0,28,130,1) 0%, rgba(0,28,130,1) 80%, rgba(9,9,76,1) 100%);
	background: linear-gradient(to right, rgba(0,28,130,1) 0%, rgba(0,28,130,1) 80%, rgba(9,9,76,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001c82', endColorstr='#09094c', GradientType=1 );
	float:left;
	width:50%;
	padding-left:7.5%;
	padding-right: 7.5%;
	padding-top: 175px;
}
.first-right-div{
	float:right;
	width:50%;
	background-color:#09094c;
	padding-right:7.5%;
	padding-top: 50px;
	
}
.landing-first-div{
	display:flex;}
.ai-img{
	width:100%;}
.rounded-200-button{
	width: 200px;
    text-align: center;
    padding: 10px 0;
    border-radius: 30px;
    margin-top: 60px;
}
.rounded-200-button:hover{
	background-color:#09094c;
	transition:.25s ease-in-out;
	
}
.mobile-logo{
	display:none;}
.header1 {
    padding-top: 7px;
}
.middle-menu-div {
    width: calc(100% - 240px);
    text-align: center;
	float: left;
	padding-top:3px;
}
.menu-padding {
    padding-right: 25px;
}
.left-logo-div{
	width:88px;}
.right-menu-div {
    width: 150px;
	padding-top:3px;
	    text-align: right;}
	
.opacity-hover:hover{
	opacity:0.75;
	transition:.25s ease-in-out;}
.menu-bg{
	background: rgba(0,28,130,1);
	background: -moz-linear-gradient(left, rgba(0,28,130,1) 0%, rgba(0,28,130,1) 80%, rgba(9,9,76,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,28,130,1)), color-stop(80%, rgba(0,28,130,1)), color-stop(100%, rgba(9,9,76,1)));
	background: -webkit-linear-gradient(left, rgba(0,28,130,1) 0%, rgba(0,28,130,1) 80%, rgba(9,9,76,1) 100%);
	background: -o-linear-gradient(left, rgba(0,28,130,1) 0%, rgba(0,28,130,1) 80%, rgba(9,9,76,1) 100%);
	background: -ms-linear-gradient(left, rgba(0,28,130,1) 0%, rgba(0,28,130,1) 80%, rgba(9,9,76,1) 100%);
	background: linear-gradient(to right, rgba(0,28,130,1) 0%, rgba(0,28,130,1) 80%, rgba(9,9,76,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001c82', endColorstr='#09094c', GradientType=1 );}
.dl-menuwrapper{
	display:none;
}
.dl-menu {
    height: 100vh;
    overflow: scroll;
}
.web-none{
	display:none;}
.second-four-div {
    padding-top: 50px;
	text-align: center;
}
.bold-subtitle-p {
    font-weight: 800;
    font-size: 18px;
}
.four-div {
    width: 22%;
    float: left;
}
.four-mid-left-div {
    margin-left: 4%;
    margin-right: 4%;
}
.four-mid-right-div {
    margin-right: 4%;
}
.separate-distance {
    margin-bottom: 50px;
}
.four-div-img {
    width: 50%;
}
.line-icon {
    width: 65px;
}
.line-h2{ 
            display: flex; 
            flex-direction: row; 
			margin-left: 25%;
    		margin-right: 25%;
        }    
.line-h2:before, 
.line-h2:after { 
            content: ""; 
            flex: 1 1; 
            border-bottom: 1px solid #09094c; 
            margin: auto; 
        } 
.line-icon-spacing{
	margin-left: 50px;
    margin-right: 50px;
}
.padding-top-50{
	padding-top:50px;}
.two-left-visual-div{
	width:50%;}
.two-right-content-div{
	width:50%;	
}
.two-right {
    padding-left: 7%;
	padding-right:5%;
	margin-top: 75px;
}
.two-left {
    padding-right: 5%;
	padding-left: 7%;
	margin-top: 75px;
}
.full-width-btn {
    width: 100%;
    text-align: center;
    color: white;
    padding: 10px 0;
    border-radius: 25px;}
.two-content-p {
    margin-bottom: 70px;
}
.blue-btn-hover{
	background-color:#3268ff;
}
.blue-btn-hover:hover{
	background-color:#09094c;
	transition:.25s ease-in-out;
	cursor:pointer;
}
.spacing-div{
	width100%;
	min-height:75px;}
.aidex-input {
	width: calc(100% - 25px);
    border: 0;
    border-bottom: 1px solid gainsboro;
    font-size: 16px;
	padding-right: 25px;
}
.aidex-input:focus{
    border-bottom: 1px solid #3268ff;
	transition:.25s ease-in-out;	
}
.input-top-text {
    text-align: left;
    margin-bottom: 10px;
    font-size: 12px;
	color:#d2d2d2;
}

.input-div:hover .input-top-text{
	color:#3268ff;
	transition:.35s ease-in-out;
}
.input-div:hover .contact-code{
	 border-bottom: 1px solid #3268ff;
	 transition:.35s ease-in-out;
}
.input-div:hover .aidex-input{
	 border-bottom: 1px solid #3268ff;
	 transition:.35s ease-in-out;
}
.input-div {
    margin-bottom: 30px;
	overflow: hidden;
}
.contact-code {
    text-align: left;
    width: 50px;
    float: left;
	font-size: 18px;
	border-bottom: 1px solid gainsboro;
	margin-top:0;
}
.mobile-input {
    float: left;
    width: calc(100% - 50px);
}
.text-left{
	text-align:left;}
.blue-link{
	color:#3268ff;}
.blue-link:hover{
	color:#09094c;
	transition:.25s ease-in-out;
	cursor:pointer;
}
.extra-margin-top {
    margin-top: 20px;
}
.separate-distance2{
	margin-top:75px;}
.margin-control{
	margin-top:20px;}
.visible-icon {
    width: 25px;
    position: absolute;
    margin-left: -25px;
}
.dual-a-btm{
	margin-bottom:20px;}
.forgot-u-a{
	float:right;}
/* The Modal (background) */
.modal-css {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 99; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content */
.modal-content-css {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close-css {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top: -10px;
}

.close-css:hover,
.close-css:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.login-modal-content{
	width: 30%;
	background-color: white;
    border-radius: 10px;
    border: 0;
	margin-top: calc(50vh - 200px);

}
.blue-h2{
	color:#09094c;
	text-align:center;}
.pop-out-input{
	background-color:transparent;}
.display-block-forever{
	display:block !important;}
.middle-p {
    margin-top: 180px;
}
.shadow-white-div{
	background-color:white;
	-webkit-box-shadow: 0px 0px 15px 5px rgba(50,104,255,0.24); 
	box-shadow: 0px 0px 15px 5px rgba(50,104,255,0.24);
	border-radius: 10px;
    text-align: center;
	padding-top: 30px;
    padding-bottom: 10px;}
.big-four-div-container{
	padding: 50px 7.5%;
}
.four-div-big-p {
    font-size: 21px;
    font-weight: 800;
}
.some-spacing {
    margin-top: 30px;
}
.blue-table-div{
	background-color:#0a094d;
    padding-top: 20px;
    padding-bottom: 20px;		
}
.currency-table {
    width: 100%;
	border-collapse:collapse;
}
.currency-table th {
    text-align: center;
	color:white;
	background-color: #010038;
	padding: 5px 10px;
	vertical-align:top;
}
.currency-table td {
	text-align: center;
	color:white;
	padding: 8px 10px;
}
/*
.currency-table > tbody > tr:nth-child(odd){
	background-color:#1a2938;
}*/
.currency-table > tbody > tr:nth-child(even){
   background-color:#111152;
}
.red-text {
    color: #ca0000 !important;
}
.green-text {
    color: #00bd00 !important;
}
.green-btn{
	border:0;
	background-color: #006f00a1;
    color: #00bd00;
	border-radius: 2px;
}
.company-td{
	position:sticky;
	left:0;
	background-color: #fbfdff;
	z-index: 1;	
}
.fix-100{
	width:80px;}
.red-btn{
	border:0;
	background-color: #8e0808a1;
    color: #ca0000;
	border-radius: 2px;
}
.scroll-div {
    width: 100%;
    overflow-x: auto;
}
.country-flag{
	float:left;
	margin-left:5px;}
.country-flag2{
	float:right;
	margin-right:5px;}
.first-width{
	min-width:125px;}
.blue-h2 {
    margin-top: 0;
}
/* Style the tab */
.tab {
  overflow: hidden;
  
}

/* Style the buttons inside the tab */
.tab button {
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    text-align: center;
    width: 50%;
	background-color: #f4f7fb;
    border-bottom: 1px solid #f4f7fb;
}

/* Change background color of buttons on hover */
.tab button:hover {
	color:#3268ff;
}

/* Create an active/current tablink class */
.tab button.active {
	border-bottom: 1px solid #3268ff;
	background-color: #d7e8ff;
}

/* Style the tab content */
.tabcontent {
  display: none;
  border-top: none;
  margin-bottom: 50px;
  background-color: #d7e8ff;  
}
.tablinks.active{
	font-weight:900;
	color: #3268ff;}
/* Style the tab */
.tab2 {
  overflow: hidden;
  
}

/* Style the buttons inside the tab */
.tab2 button {
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    text-align: center;
    width: 50%;
	background-color:white;

}

/* Change background color of buttons on hover */
.tab2 button:hover {

}

/* Create an active/current tablink class */
.tab2 button.active {
	border-bottom: 1px solid #3268ff;
}

/* Style the tab content */
.tabcontent2 {
  display: none;
  padding: 6px 12px;
  border-top: none;
  margin-bottom: 30px;
  background-color: #f4f7fb;  
}


.menu-distance {
    margin-top: 73px;
}
.tablinks2.active{
	font-weight:900;
	color: #3268ff;}
.table-scroll-div {
    width: 100%;
    overflow-x: auto;
    max-height: 90vh;
}
.big-div, .th1-div, .th1-a{
	float:left;}
.th1-div{
	text-align:center;
	width:100%;}
.table-header {
	width: 7650px;
    overflow-x: auto;
	font-size: 14px;
	font-weight: 900;
}
.company-name-table td{
	width:200px;
	vertical-align:top;
	padding:10px;
	border-bottom: 1px solid #a7c0ff;}
.company-name-table th{
	padding-top:10px;
	position:sticky;
	top:0 !important;	
	padding-bottom: 10px;
}

.th1-a{
	width:200px;
	text-align:left;
	padding:10px 20px;}
.company-name-table{
	width: 1800px;
	font-size:14px;
	border-collapse:collapse;}
.th0, .th1, .th2, .th3, .th4, .th5, .th6, .th7, .th8, .th9{
	font-weight:900;
	color:white;
	position:sticky;
	top:40px !important;}
.blue-link{
	color:#3268ff;}
.blue-link:hover{
	color:#073aca;
	transition:.15s ease-in-out;
	cursor:pointer;}
.th0{
	background-color:#7babff;}
.th1{
	background-color:#5a96ff;}
.th2{
	background-color:#4881ff;}	
.th3{
	background-color:#3268ff;}	
.th4{
	background-color:#1a61ff;}	
.th5{
	background-color:#005bff;}	
.th6{
	background-color:#005de5;}	
.th7{
	background-color:#14937b;}
.th8{
	background-color:#4d35b5;}
.th9{
	background-color:#005192;}	
.bad-color {
    color: #ce0000;
}	
.ave-color {
    color: #fda400;
}	
.good-color {
    color: #00b593;
}
.color-p{
	float:left;
	margin-top:0;
	margin-bottom:0;}	
.big-container-div{
	margin-bottom:30px;}
.container-div {
    float: left;
    margin-right: 30px;
}
.last-container-div{
	margin-right:0 !important;}
.bad-div{
	    background-color: #ce0000;
}
.ave-div{
	    background-color: #fda400;
}
.good-div{
	    background-color: #00b593;
}
.color-div {

    width: 15px;
    height: 15px;
    float: left;
    margin-top: 3px;
    border-radius: 50%;
    margin-right: 5px;
}
.signup-modal-content {
    margin-top: 50px;
    border-radius: 20px;
    overflow-y: auto;
}
.th0 {
    z-index: 2;
    background-color: #7babff;
}
.some-margin-top{
	margin-top: 10px;
}
.forget-link {
    font-size: 14px;
}
.min-height{
	min-height:calc(100vh - 23px);
	padding-bottom:50px;}
.menu-padding-distance{
	padding-top:43px;
	padding-bottom:43px;
	background-color:#0a094d;
}
.green-btn:hover{
	cursor:pointer;
	opacity:0.85;
	transition:.15s ease-in-out;}
.min-height-with-menu-distance{
	min-height:calc(100vh - 96px);	
	padding-bottom:50px;
}

/*Dropdown*/
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  border-radius: 5px;
  right: 0;
  position: absolute;
  background-color: #ffffff;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 8px 16px;
  z-index: 1;
  color:black;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-a{
	color:black;
	margin-left:5px;}
.dropdown-img{
	margin-right:10px;}
/*End of Dropdown*/
.dropdown-img2{
	vertical-align: bottom;
	margin-right:10px;
	margin-left:0;
}
.dropdown-p:hover{
	color:#3268ff;
	transition:.15s ease-in-out;
	cursor:pointer;}
.dropdown-a:hover{
	color:#3268ff;
	transition:.15s ease-in-out;
	cursor:pointer;}
.dropdown-png {
    margin-left: 7px;
    width: 10px;
}
.menu-margin-right {
    margin-right: 18px;
}
.company-name-table td.color-td {
    height: 2px !important;
    padding: 0 !important;
	border-bottom:0 !important;
	position: sticky;
    top: 39px;
}
.company-name-table td.th0-color{
	background-color: #7babff !important;
	    z-index: 2;	
}
.company-name-table td.th1-color{
	background-color:#71a5ff !important;	
}
.company-name-table td.th2-color{
	background-color:#6494ff !important;	
}
.company-name-table td.th3-color{
	background-color:#5e88fd !important;	
}
.company-name-table td.th4-color{
	background-color:#3573ff !important;	
}
.company-name-table td.th5-color{
	background-color:#1e6eff !important;	
}
.company-name-table td.th6-color{
	background-color:#2a7bf3 !important;	
}
.company-name-table td.th7-color{
	background-color:#229982 !important;	
}
.company-name-table td.th8-color{
	background-color:#5344bc !important;	
}
.company-name-table td.th9-color{
	background-color:#215d8e !important;	
}
/*
th.th0{
	border-bottom: 2px solid #7babff !important;	
}
th.th1{
	border-bottom: 2px solid #71a5ff !important;	
}
th.th2{
	border-bottom: 2px solid #6494ff !important;	
}
th.th3{
	border-bottom: 2px solid #5e88fd !important;	
}
th.th4{
	border-bottom: 2px solid #3573ff !important;	
}
th.th5{
	border-bottom: 2px solid #1e6eff !important;	
}
th.th6{
	border-bottom: 2px solid #2a7bf3 !important;	
}
th.th7{
	border-bottom: 2px solid #3573bd !important;	
}
th.th8{
	border-bottom: 2px solid #236ab1 !important;	
}
th.th9{
	border-bottom: 2px solid #215d8e !important;	
}
*/
.four-div-big-p2 {
    font-weight: 700;
    font-size: 18px;
	min-height: 56px;
	word-break: break-all;
}
.edit-png {
    width: 20px;
    margin-left: 5px;
}
.two-div {
    width: 48%;
    float: left;
}
.right-two-div{
	margin-left:4%;}
.two-div-img {
    width: 180px;
}
.two-div .four-div-big-p2{
	min-height:0;}
.invitation-link-container {
    padding: 10px !important;
    text-align: left;
    overflow: hidden;
    float: left;
	border-top-right-radius: 0;
    border-bottom-right-radius: 0;
	width: calc(100% - 87px);
}
.copy-btn {
    color: white;
    border: 0;
    font-size: 18px;
    padding: 9px 20px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
	
}
.invite-link-div {
    width: 100%;
    padding-bottom: 50px;
    padding-top: 25px;
    padding-left: 20%;
    padding-right: 20%;
}
.invitation-link-a {
    word-break: keep-all;
}
.verification-img2{
	margin-bottom:50px;}
.star-css {
    font-size: 27px;
    padding-top: 0 !important;
	text-align: center;
	color:#ff9900;
}
.star-png {
    width: 20px;
}
.hover-effect:hover{
	cursor:pointer;}
.company-modal-content {
    margin-top: 50px;
    border-radius: 10px;
    width: 85%;
}
.company-table2 {
    width: 100%;
}
.company-table2 th{
	color:white;
	text-align:left;
	padding-left:10px;
	padding-right:10px;}
.company-table2 th.th0-color {
	background-color: #7babff !important;		
}
.company-table2 th.th1-color{
	background-color:#71a5ff !important;	
}
.company-table2 th.th2-color{
	background-color:#6494ff !important;	
}
.company-table2 th.th3-color{
	background-color:#5e88fd !important;	
}
.company-table2  .th5-color{
	color:white;
	text-align:left;}
.three-data-div {
    overflow: hidden;
	border-top: 1px solid #a7c0ff;
}
.three-div-width {
    text-align: center;
    float: left;
    width: 33.33%;
}
.three-p {
    margin-bottom: 0;
    color: #c7c7c7;
    font-size: 14px;
}
.company-logo{
    width: 18px;
    margin-right: 15px;
	margin-top: 5px;
}
.menu-link-container {
	width: 100%;
	text-align: center;
	margin-bottom: 15px;
}

.menu-h1 {
	text-align: center;
	font-size: 27px;
	padding-left: 15px;
}

.notice-modal-content {
	margin-top: calc(50vh - 85px);
	width: 50%;
}
.ev-p {
    margin: 0;
}
.left-logo-div1 {
    float: left;
	width: 33px;
}
.right-name-div {
    float: left;
	width: calc(100% - 65px);
}
.right-star-div {
    float: left;
    width: 20px;
}
.favourite-png {
    width: 30px;
	cursor:pointer;
}
.small-date-p {
    font-size: 12px;
    margin-top: -20px;
}
.risk-p {
    font-size: 14px;
}
.terms-modal-content {
    width: 70%;
    margin-top: 70px;
    max-height: 75vh;
}
.password-input {
    width: calc(100% - 25px);
    float: left;
}
.eye-icon {
    float: left;
    position: relative;
    margin-left: 0;

}
.checkbox1{
    width: 31px;
    height: 28px;
     background:url(../img/favourite.png);
	 cursor:pointer;
}
.checked1{
    background:url(../img/favourite2.png);
	cursor:pointer;
}
.transparent-button{
	background-color:transparent;
	border:0;}
.profile-four-div-container .four-div-img {
    width: 20%;
}
.some-margin-top2 {
    margin-top: 50px;
}
.profile-four-div-container {
    padding-top: 15px;
}
.tab-div {
    width: 100%;
    overflow: hidden;
}
.tab-div-css {
    width: 50%;
    float: left;
    text-align: center;
	cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    text-align: center;	
	background-color: #f4f7fb;
	border-bottom: 1px solid #f4f7fb;
}
.active-tab{
    border-bottom: 1px solid #3268ff;
    background-color: #d7e8ff;
	font-weight: 900;
    color: #3268ff;
}
@media all and (max-width: 1470px){	
.first-left-div{
    padding-right: 2%;	
	padding-top: 145px;
}
}
@media all and (max-width: 1450px){	
.two-left, .two-right {
    padding-right: 3%;
    padding-left: 3%;}

}
@media all and (max-width: 1400px){	
.login-modal-content {
    width: 50%;}
.table-scroll-div {
    height: 75vh;
}
.verification-img {
    width: 75%;
}
}
@media all and (max-width: 1300px){	
.first-left-div {
    padding-right: 0;
    padding-top: 100px;
}
.four-div-p {
    font-size: 14px;
}
}
@media all and (max-width: 1200px){	
.two-content-top-p{
	margin-top:0;
}
.two-content-p {
    margin-bottom: 40px;
}
}
@media all and (max-width: 1150px){	
.banner-logo {
    width: 70%;
}
.rounded-200-button{
	margin-top:30px;}

}
@media all and (max-width: 1000px){	
.currency-table td {
    font-size: 13px;
}
.currency-table th {
    font-size: 13px;
}
.country-flag {
    width: 15px;
    margin-top: 4px;
}
.title-h1 {
    font-size: 24px;
}
.profile-four-div-container .four-div {
    width: 48%;
    margin-bottom: 30px;
}
.profile-four-div-container .four-mid-left-div {
    margin-right: 0;
}
}
@media all and (max-width: 960px){	
.mobile-change-one-column .two-right-content-div{
	float:none;
	width:80%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 30px;
	margin-top:0;
}
.mobile-change-one-column .two-left-visual-div{
	float:none;
	width:80%;
	margin-left:auto;
	margin-right:auto;
	margin-top:0;}
.mobile-change-one-column .tab-h2{
	text-align:center;}
}
@media all and (max-width: 950px){	
.first-left-div{
	width:65%;}
.first-right-div{
	width:35%;
}
.ai-img {
    margin-top: 50px;
}
.first-left-div {
    padding-top: 70px;
    padding-bottom: 50px;
}
.banner-logo {
    width: 55%;
}
.two-left{
	padding-right:3%;}
.two-right{
	padding-left:3%;}
.full-width-btn{
	padding:10px;}
}
@media all and (max-width: 915px){	
.long-blue-div {
    border-radius: 45px;
}
}
@media all and (max-width: 900px){
.aidex-input, .contact-code{
	font-size:15px;}	
.contact-code{
	margin-top:2px;}
.aidex-label {
    font-size: 14px;
}
.forgot-a, .forgot-u-a{
	font-size:14px;}

}
@media all and (max-width: 800px){	
.second-four-div {
    padding-top: 30px;}

.bold-subtitle-p{
	font-size: 16px;
}
.four-div {
    width: 48%;
	margin-bottom: 30px;
}
.four-mid-left-div{
	margin-right:0;}
.four-div-tempo-clear{
	clear:both;}
.two-content-p{
	font-size:14px;
	margin-bottom:20px;}
.full-width-btn{
	font-size:14px;}
.line-h2{
	margin-left: 0;
    margin-right: 0;
}
.two-left, .two-right {
	margin-top:35px;
	margin-bottom:35px;}
.form-div .two-left{
	float:none;
	margin-left:0;
	margin-right:0;
	padding:0;
	width:100%;
	}
.form-div .two-right{
	float:none;
	margin-left:0;
	margin-right:0;
	padding:0;
	width:100%;
	}
.form-div .two-left-visual-div{
	padding-left:30%;
	padding-right:30%;}
.form-div .two-right-content-div{
	padding-left:10%;
	padding-right:10%;}
.separate-distance2 {
    margin-top: 35px;
}
.login-modal-content {
    width: 75%;
}
.stay-tune-p {
    font-size: 14px;
}
.aidex-h1 {
    font-size: 27px;
}
.invite-link-div {
    padding-left: 0;
    padding-right: 0;
}
.two-div-img {
    width: 40%;
}
.company-modal-content {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}
.notice-modal-content {
	margin-top: calc(50vh - 85px);
	width: 85%;
}
.logged-a{
	display:none;}
.logged-in-dl{
	display:block;}
.menu-distance {
    margin-top: 50px;
}
.min-height-with-menu-distance {
    min-height: calc(100vh - 73px);
}
}



@media all and (max-width: 700px){	
.first-banner-p {
    font-size: 14px;
}
.rounded-200-button {
    margin-top: 20px;
	padding: 8px 0;
	font-size:14px;
}
.currency-table td {
    padding: 8px 5px;
}
.blue-table-div {
    padding: 0;
}
.verification-img2 {
    width: 80%;
}
}
@media all and (max-width: 650px){	
.line-icon {
    width: 45px;
}
.padding-top-50 {
    padding-top: 0px;
}
.two-left, .two-right {
	float:none;
	padding:0;
	width:100%;}
.two-right-content-div {
    margin-bottom: 75px;
	text-align:center;
}
.text-left{
	text-align:left;}

}
@media all and (max-width: 600px){	
.middle-menu-div, .right-menu-div{
	font-size:12px;
	padding-top: 0px;}
.logo-img {
    width: 55px;
}
.left-logo-div{
	width:55px;}
.menu-padding {
    padding-right: 10px;
}
.right-menu-div{
	width:95px;}
.middle-menu-div {
     width: calc(100% - 160px);}
.mobile-none{
	display:none;}
.web-none{
	display:block;}
.landing-first-div{
	display:block;}
.first-right-div{
	float:none;
	width:100%;
	text-align: center;
	padding-left: 7.5%;}
.ai-img {
    width: 50%;
	margin-top: 0px;
}
.first-left-div {
    width: 100%;
    float: none;
	padding-top: 30px;
	background: rgba(9,9,76,1);
	background: -moz-linear-gradient(top, rgba(9,9,76,1) 0%, rgba(0,28,130,1) 24%, rgba(0,28,130,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(9,9,76,1)), color-stop(24%, rgba(0,28,130,1)), color-stop(100%, rgba(0,28,130,1)));
	background: -webkit-linear-gradient(top, rgba(9,9,76,1) 0%, rgba(0,28,130,1) 24%, rgba(0,28,130,1) 100%);
	background: -o-linear-gradient(top, rgba(9,9,76,1) 0%, rgba(0,28,130,1) 24%, rgba(0,28,130,1) 100%);
	background: -ms-linear-gradient(top, rgba(9,9,76,1) 0%, rgba(0,28,130,1) 24%, rgba(0,28,130,1) 100%);
	background: linear-gradient(to bottom, rgba(9,9,76,1) 0%, rgba(0,28,130,1) 24%, rgba(0,28,130,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#09094c', endColorstr='#001c82', GradientType=0 );
	padding-right: 7.5%;
	text-align:center;
}
.rounded-200-button{
    margin-left: auto;
    margin-right: auto;	
}
.footer-p {
    font-size: 13px;}
.color-p {
    font-size: 12px;
}
.color-div {
    width: 10px;
    height: 10px;}
.container-div {
    margin-right: 20px;
}

}
@media all and (max-width: 550px){
.form-div .two-right-content-div {
	padding:0;
}
.form-div .two-left-visual-div {
    padding-left: 20%;
    padding-right: 20%;
}
.forget-link {
    font-size: 13px;
}
.four-div-small-p {
    font-size: 14px;
    margin-bottom: 0;
}
.four-div-big-p2 {
    font-size: 16px;
    margin-top: 5px;
	min-height: 44px;}
}
@media all and (max-width: 500px){
.blue-h2{
	font-size:18px;}
.login-modal-content {
    width: 85%;
}
.tab-div-css{
	font-size: 14px;
}
}
@media all and (max-width: 450px){
.four-div {
    width: 45%;}	
.four-mid-left-div {
    margin-left: 10%;}	
.four-mid-right-div {
    margin-right: 10%;
}
.title-h1 {
    font-size: 21px;
}
.profile-four-div-container .four-mid-left-div {
    margin-left: 4%;
}
.profile-four-div-container .four-mid-right-div {
    margin-right: 4%;
}
}
@media all and (max-width: 400px){	
.web-menu{
	display:none;}
.dl-menuwrapper{
	display:block;}
.right-menu-div {
    text-align: right;
    width: auto;
    padding-right: 7.5%;
}
.four-div-p {
    font-size: 13px;
}
.four-div-img {
    width: 70%;
}
.four-div-small-p {
    font-size: 13px;
}
.four-div-big-p {
    font-size: 16px;}
.profile-four-div-container .four-div {
    width: 100%;
    margin-left: 0;
    margin-right: 0;}
.four-div-big-p2{
	min-height:0;}
.profile-four-div-container .four-div-img {
    width: 30%;
}

}


